! http://github.com/tgsamef  ___
!                          /'___\
! same-f [.dotfiles]      /\ \__/
!  ___  __ _ _ __ ___   __\ \ ,__\
! / __|/ _` | '_ ` _ \ / _ \ \ \_/
! \__ \ (_| | | | | | |  __/\ \ \
! |___/\__,_|_| |_| |_|\___| \/_/
!______________________________________
! .Xresources
!                           special
*.foreground:                   #fcc000
*.background:                   #111111
*.cursorColor:                  #fcc000
!                           black
*.color0:                       #101010
*.color8:                       #838583
!                           red
*.color1:                       #600000
*.color9:                       #fc3434
!                           green
*.color2:                       #5c9634
*.color10:                      #7cc84c
!                           yellow
*.color3:                       #ffb030
*.color11:                      #fcdd33
!                           blue
*.color4:                       #0048bb
*.color12:                      #1878ff
!                           magenta
*.color5:                       #684cc4
*.color13:                      #a088fc
!                           cyan
*.color6:                       #64ace0
*.color14:                      #64bcef
!                           white
*.color7:                       #c8c8c8
*.color15:                      #e8e8e8

Xft.dpi:                        96
Xft.antialias:                  true
Xft.hinting:                    true
Xft.rgba:                       rgb
Xft.autohint:                   false
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcddefault

URxvt.font:                     xft:terminus:size=12:style=bold:antialias=true:autohint=true, \
                                                  xft:devicons:style=Regular, \
                                                  xft:FontAwesome:style=Regular
URxvt.internalBorder:           15
URxvt.letterSpace:              0
URxvt.antialias:                true
URxvt.pointerBlank:             true
URxvt.saveLines:                7000
URxvt.scrollBar:                false
URxvt.cursorBlink:              true
URxvt.urgentOnBell:             true
URxvt.scrollTtyOutput:          true
URxvt.scrollWithBuffer:         true
URxvt.scrollTtyKeypress:        true
URxvt.transparent:              false
URxvt.depth:                    32
URxvt.iso14755:                 false
URxvt.iso14755_52:              false

URxvt.perl-ext-common:          default,matcher,clipboard,keyboard-select,url-select
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.url-select.underline:     true
URxvt.matcher.button:           1
URxvt.keysym.C-u:               perl:url-select:select_next
URxvt.keysym.C-Escape:          perl:keyboard-select:activate
URxvt.keysym.C-/:               perl:keyboard-select:search
URxvt.clipboard.autocopy:       true
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C
