!" http://github.com/tgsamef  ___   "
!"                          /'___\  "
!" same-f [.dotfiles]      /\ \__/  "
!"  ___  __ _ _ __ ___   __\ \ ,__\ "
!" / __|/ _` | '_ ` _ \ / _ \ \ \_/ "
!" \__ \ (_| | | | | | |  __/\ \ \  "
!" |___/\__,_|_| |_| |_|\___| \/_/  "
!______________________________________

*.foreground:                   #bbbbbb
*.background:                   #0f1011
*.cursorColor:                  #fcc000

*.color0:                       #09090a
*.color1:                       #ef5358
*.color2:                       #70a551
*.color3:                       #cc9428
*.color4:                       #7cb7ff
*.color5:                       #673ab7
*.color6:                       #464680
*.color7:                       #cccccc

*.color8:                       #312819
*.color9:                       #f44336
*.color10:                      #00f17d
*.color11:                      #ffeb3b
*.color12:                      #2d90ff
*.color13:                      #c50ed2
*.color14:                      #18dcff
*.color15:                      #fcfcfc

URxvt.font:                     xft:terminus:size=12:style=bold:antialias=true:autohint=true
URxvt.internalBorder:           15
URxvt.letterSpace:              0
URxvt.antialias:                true
URxvt.pointerBlank:             true
URxvt.saveLines:                7000
URxvt.scrollBar:                false
URxvt.cursorBlink:              true
URxvt.urgentOnBell:             true
URxvt.scrollTtyOutput:          true
URxvt.scrollWithBuffer:         true
URxvt.scrollTtyKeypress:        true
URxvt.transparent:              false
URxvt.depth:                    32
URxvt.iso14755:                 false
URxvt.iso14755_52:              false

URxvt.perl-ext-common:          default,matcher,clipboard,keyboard-select,url-select
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.url-select.underline:     true
URxvt.matcher.button:           1
URxvt.keysym.C-u:               perl:url-select:select_next
URxvt.keysym.C-Escape:          perl:keyboard-select:activate
URxvt.keysym.C-/:               perl:keyboard-select:search
URxvt.clipboard.autocopy:       true
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C
